@import "tailwindcss";

@theme {
  --color-bg-dark: #191C27;
  --color-card-dark: #393D52;
  --color-bg-light: #ECF0F8;
  --color-card-light: #FFFFFF;
  
  --color-chart-1: #6E6EF7; /* Example generic chart colors */
  --color-chart-2: #E88C33;
  --color-chart-3: #2EB086;
  --color-chart-4: #D94452;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
}